.cropper-view-box {
  box-shadow: 0 0 0 1px #39f !important;
  border-radius: 50% !important;
  outline: 0 !important;
}
.cropper-face {
  background-color: inherit !important;
}
.cropper-view-box {
  outline: inherit !important;
}
